<ion-view view-title="Order Completed">
  <ion-content>  
    <div class="card">
        <div class="item item-divider">
            bubbl.io
        </div>
        <div class="item item-text-wrap">
            <h3>Your order has been received</h3>
            <p>Thank you for your purchase. You will receive an order confirmation message with details of your order.</p>
        </div>
    </div>
    <label class="item">
        <button class="button button-block button-positive" ng-click="createBubble()">Return to Dashboard</button>
    </label>
  </ion-content>
</ion-view>
