<ion-view view-title="Dashboard">
        <ion-content id="dashboard" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div id="wash_and_fold" ui-sref="app.new-order" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <h1>Wash and Fold</h1>               
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div id="dry_clean" ui-sref="app.new-order" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <h1>Dry Clean</h1>
                </div>
            </div>
        </div>
		<div class="item card-item">
            <div id="wash_and_press" ui-sref="app.new-order" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <h1>Wash and Press</h1>
                </div>
            </div>
        </div>

        </ion-content>
        
</ion-view>