<ion-view view-title="Help">
<ion-pane>
	<ion-tabs class="tabs-positive">
		<ion-tab title="Login">
            <ion-view view-title="Login">
                <ion-content>
        			<h1>1. Log in</h1>
        			<p>1) Go to an app that offers Login with bubbl.io.<br>
						2) Click the app's Login with bubbl.io button.<br>
					3) Enter your log-in information on the sign-in screen.<br>
					4) If this is the first time you’re logging in to an app, you'll see a screen asking for your permission to share certain information from your personal profile. Click Okay if you would like to share this data with the app.<br>
					5) You'll then be directed back to the app as a registered user or receive a prompt to complete registration<br>
					</p> 
					<img src="img/login1.jpg" alt="Login1" style="width:300px; height:500px;">
					<img src="img/login2.jpg" alt="Login2" style="width:300px; height:500px;">

    			</ion-content>
    		</ion-view>
    	</ion-tab>
    	<ion-tab title="Search">
            <ion-view view-title="Search">
                <ion-content>
        			<h1>2. Search laundromats</h1>
        			<p>1) You can search for laundromats by entering a few words into the search box, and we'll show you all the matching results. <br>
					2) To browse by map, select laundromats around your location. Each store will offer its own customized service and price.<br>
					</p> 
					<img src="img/search1.jpg" alt="Search1" style="width:300px; height:500px;">
					<img src="img/search2.jpg" alt="Search2" style="width:300px; height:500px;">
					<img src="img/search2.jpg" alt="Search2" style="width:300px; height:500px;">
    			</ion-content>
    		</ion-view>
    	</ion-tab>
    	<ion-tab title="Order">
            <ion-view view-title="Order">
                <ion-content>
        			<h1>3. Create an order</h1>
        			<p>1) Select Laundromat after you've reviewed all laundromats in the list.<br>
					2) Enter an address, choose visiting time, and enter your payment information.<br>
					3) Review your order details. <br>
					4) Click Place your order<br>
					</p> 
					<img src="img/order1.jpg" alt="Order1" style="width:300px; height:500px;">
					<img src="img/order2.jpg" alt="Order2" style="width:300px; height:500px;">
    			</ion-content>
    		</ion-view>
    	</ion-tab>
    	<ion-tab title="Review">
            <ion-view view-title="Review">
                <ion-content>
        			<h1>4. Write a review</h1>
        			<p>1) Go to the orders detail page for the review on bubl.io.<br>
					2) Click Write a customer review in the Customer Reviews section.<br>
					3) Wright your review and click Save.<br>
					</p> 
					<img src="img/review1.jpg" alt="Review1" style="width:300px; height:500px;">
					<img src="img/review2.jpg" alt="Review2" style="width:300px; height:500px;">
    			</ion-content>
    		</ion-view>
    	</ion-tab>
    </ion-tabs>
</ion-pane>
</ion-view>
