<ion-view id="login" view-title="">
        <ion-content>
         
          <div id="login_logo">
	          <img src="img/logo.png"/>
	          <div id="subtitle">One Rinse to Rule Them All!</div>
          </div>
          
           <div class="padding">
	          
          <form name="loginForm" novalidate>
          <div class="list">
	        
	            <label class="item item-input item-floating-label">
	              <span class="input-label">E-mail</span>
	              <input type="email" name="email" placeholder="E-mail" ng-model="data.username" required>
                  <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Enter a valid e-mail.</p>
	            </label>
                <ion-toggle name="remember" ng-change="rememberEmail(data.remember)" ng-disabled="loginForm.email.$invalid" ng-model="data.remember" toggle-class="toggle-positive" ng-true-value="'Y'" ng-false-value="'N'">Remember my-email</ion-toggle>
	            <label class="item item-input item-floating-label">
	              <span class="input-label">Password</span>
	              <input type="password" name="password" placeholder="Password" ng-model="data.password" required>
                  <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Enter your password.</p>
	            </label>
          </div>	          
	      <div class="row">
		      <button name="loginBtn" ng-disabled="loginForm.$invalid" class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="login()">
			  Login
			  </button>
	      </div>
		          
          <div class="row">
	          <div class="col col-50"><a href="#/app/forgot_password" class="forgot-password">Forgot password</a>
	          	
	          </div>
	          <div class="col col-50"><a href="#/app/signup" class="sign-up">Sign-up</a>
			  	 
			  </div>
          </div>
          
          <button name="loginFBBtn" ng-disabled="loginForm.$valid" class="button button-block button-positive ink" button-balanced="-900" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="loginFB()">
		  	Login via Facebook
		  </button>
           </form>
           </div>
          
         
        </ion-content>
      </ion-view>
