<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero" style="background-image: url('img/background.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">{{current_first_name}} {{current_last_name}}</a></h3>
                <h4>{{current_email}}</h4>
            </div>
        </div>
        
        <div class="list">
		  <label class="item item-input">
		    <i class="icon ion-person placeholder-icon"></i>
		    <input type="text" placeholder="First Name" ng-model="data.firstname" required>
		  </label>
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Last Name" ng-model="data.lastname">
		  </label>
		  <label class="item item-input">
		    <i class="icon ion-ios-home placeholder-icon"></i>
		    <input type="text" placeholder="Address" ng-model="data.address">
		  </label>
		</div>
		
    </ion-content>
</ion-view>

<div class="bar bar-footer bar-balanced">
  <div class="title" ng-click="saveInfo()">Save</div>
</div>