<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero" style="background-image: url('img/background.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('');"></div>
                <h3><a class="light">{{current_first_name}} {{current_last_name}}</a></h3>
                <h4>{{current_email}}</h4>
            </div>
        </div>

          <div class="list">
	        <div class="padding">
			    <form name="profileForm" novalidate>
				    <label class="item item-input item-floating-label">
		              <span class="input-label">First Name</span>
		              <input name="firstname" type="text" placeholder="First Name" ng-model="data.firstname" required>
                      <p ng-show="profileForm.firstname.$invalid" class="help-block">Your first name is required.</p>
		            </label>
		            <label class="item item-input item-floating-label">
		              <span class="input-label">Last Name</span>
		              <input name="lastname" type="text" placeholder="Last Name" ng-model="data.lastname" required>
                      <p ng-show="profileForm.lastname.$invalid" class="help-block">Your last name is required.</p>
		            </label>
					<button class="button button-full button-positive" ng-disabled="profileForm.$invalid" ng-click="saveInfo()">
                        Save
                    </button>
			    </form>
            </div>
          </div>
        
        <div class="card">
            <div class="item item-divider">
                Addresses
            </div>
            <div class="list">
                <div class="item item-text-wrap" ng-repeat="address in addresses">
                        <b>{{address.alias}}</b><br>
                        {{address.address}}<br>
                        {{address.city}}, {{address.state_name}}<br>
                        {{address.zip_code}}, {{address.country_name}}<br>
                        <a ng-href="#/app/addresses/{{user_id}}/{{address.address_id}}/{{latitude}}/{{longitude}}">Edit</a> | <a ng-href="#" ng-click="deleteAddress(address.address_id)">Delete</a>
                </div>
                <div class="item">
                    <button class="button button-full button-positive" ng-click="newAddress()">
                        New Address
                    </button>
                </div>
                <!--
                <label class="item item-input">
                    <i class="icon ion-ios-home placeholder-icon"></i>
                    <input type="text" placeholder="Address" ng-model="data.address">
                </label>
                -->
            </div>
        </div>
        
    </ion-content>
</ion-view>