<ion-view view-title="Review - Order # {{orderId}}">
    <ion-content>
        <div class="text-center">
            <br>
            <p>How many stars would you give to this order?</p>
            <img ng-repeat="star in review.stars" ng-src="{{star.url}}" width="40" height="40" ng-click="changeRating($index)">
        </div>
        <div class="card">
            <div class="item item-divider">
                Your Review
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <form name="reviewForm" ng-submit="saveReview()" novalidate>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Title</span>
                            <input type="text" name="title" placeholder="Title" ng-model="review.title" ng-required="true">
                            <p ng-show="reviewForm.title.$invalid && !reviewForm.title.$pristine" class="help-block">Enter a title.</p>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Comments</span>
                            <textarea name="comments" placeholder="Comments" ng-model="review.comments" ng-required="true"></textarea>
                            <p ng-show="reviewForm.comments.$invalid && !reviewForm.comments.$pristine" class="help-block">Enter your comments.</p>
                        </label>
                        <ion-toggle name="anonymous_flag" ng-model="review.anonymous_flag" toggle-class="toggle-positive" ng-true-value="'Y'" ng-false-value="'N'">Hide my name</ion-toggle>
                        <button type="submit" ng-disabled="reviewForm.title.$invalid || reviewForm.comments.$invalid" class="button button-full button-positive">
                            Save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
