<ion-view view-title="New Bubble">
  <ion-content ng-class="{expanded:isExpanded}">
    <label class="item item-input">
        <div class="input-label">
          Service
        </div>
        <input type="text" value="{{services[0].name}}" ng-disabled="true">
        <!--
        <select ng-model="searchParams.service">
          <option ng-repeat="service in services" ng-selected="service.service_id == searchParams.service" value="{{service.service_id}}">{{service.name}}</option>
        </select>
        -->
    </label>
    <label class="item item-input">
        <span class="input-label">Pickup</span>
        <!--
         <ionic-timepicker input-obj="timePickerObject">
		 	<button class="button button-block button-positive overflowShow" ng-model="searchParams.pickupDate">
		 		<standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
		 	</button>
		 </ionic-timepicker>
    </label>
    <label class="item item-input">
        <span class="input-label">Delovery</span>
         <ionic-timepicker input-obj="timePickerObject">
		 	<button class="button button-block button-positive overflowShow" ng-model="searchParams.deliveryDate">
		 		<standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
		 	</button>
		 </ionic-timepicker>
    </label>


-->
        <input type="datetime-local" ng-model="searchParams.pickupDate">
    </label>
    <label class="item item-input">
        <span class="input-label">Delivery</span>
        <input type="datetime-local" ng-model="searchParams.deliveryDate">
    </label>
    <label class="item item-input item-select">
        <span class="input-label">Address</span>
        <select ng-model="address_id" ng-change="updateLocation(address_id)">
            <option ng-repeat="address in addresses" value="{{address.address_id}}" ng-selected="$index == 0">
                {{address.alias}}
            </option>
        </select>
    </label>    
    <a href="#/app/laundromats/{{searchParams.service}}/{{currentLocation.latitude}}/{{currentLocation.longitude}}/{{searchParams.pickupDate | date:'yyyyMMddHHmmss'}}/{{searchParams.deliveryDate | date:'yyyyMMddHHmmss'}}/{{addressId}}" class="button button-full button-positive">
        Search
    </a>
    
    
    
    
  </ion-content>
</ion-view>
